# Cleaning Data and Joining Datasets

In [1]:
## find 2 datasets 
import pandas as pd
data = pd.read_csv('2024_medalists_all.csv')

### Loading Datasets

In python we will load our datasets with different commands based on the format of our dataset.

**CSV**  

This is the most common format of dataset we will come across. CSV stands for comma-separated values. In pandas we can use the following command to load the dataset:  
`var_name = pd.load_csv('filepath')`  
This will set the var_name to the data, and will load the data from the file path (this can be an absolute or relative path (relative means from the folder your file is in, absolute would be from the root directory of your operating system))

**XLSX (Microsoft Excel)**  

This is another common format of dataset. In pandas we can use the following command to load the dataset:
`var_name = pd.read_excel('filepath')`  
There are lots of powerful optional arguments that you can refer to the documentation on. The only one that could be generally useful is the sheet_name parameter:

Unlike R, Python is a 0 index language, so it is defaulted at 0 (so the first sheet). If you need to pull data from a different sheet the simplest way to do this is to specify the sheet number or name in the sheet_name parameter. 

Imagine I have a excel sheet with 2 sheets, original_data, and corrected_data. If I use the command with just the filepath I will pull the data from the original_data sheet. If I want the corrected_data, I have 2 options: 

- Use the index:

`var_name = pd.read_excel('filepath', sheet_name=1)`

- Use the sheet name:

`var_name = pd.read_excel('filepath', sheet_name='corrected_data')`

*Note that for excel files you must have the `openpyxl` library installed as well*

**TXT**

These are much less common but some old census files I have seen usep pipe-delimited text files. In this case you will have to use a different command and declare the delimiter if it is anything but tab delimited. 

`var_name = pd.read_table('filepath', sep = '|')`

^ This example is for pipe-delimited text file parsing. 

The data would look something like this:

> name | age | income   
> Mark | 25 | 0


For any other formats of data (JSON, XML, SHP, etc) reach out to your project leads or me for help (often ChatGPT can help)

## I. Cleaning Data

Cleaning data is often an important first step, data is rarely clean and nicely formatted. This can range from having to change datatypes to having to deal with null values, or oddly inputted null values for example using a string with "No Value Found". When starting out with a new dataset there are a few helpful commands we can use to see different pieces of information about our data set. 

To get a peak at our data set we can use the `head()` command. 
``` python
display(data.head())
```
We can also get summary statistics about our data set using `info()` and `describe()`
``` python
data.info()
data.describe()
```


Lets try this with our olympian dataset:

In [2]:
display(data.head())

,medalist_wikidata_id,medalist_link,medalist_name,medal,delegation_wikidata_id,delegation_link,delegation_name,country_medal_wikidata_id,country_medal,country_medal_code2,...,nuts2_id,nuts2_name,nuts3_id,nuts3_name,nuts2_population,nuts3_population,nuts2_gdp,nuts3_gdp,nuts0_id,nuts0_name
0,Q11739253,https://en.wikipedia.org/wiki/Kim_Woo-jin_(arc...,Kim Woo-jin,gold,Q114753595,https://en.wikipedia.org/wiki/South_Korea_at_t...,South Korea at the 2024 Summer Olympics,Q884,South Korea,KR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Q1156472,https://en.wikipedia.org/wiki/Brady_Ellison,Brady Ellison,silver,Q113581713,https://en.wikipedia.org/wiki/United_States_at...,United States at the 2024 Summer Olympics,Q30,United States of America,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Q18001487,https://en.wikipedia.org/wiki/Lee_Woo-seok,Lee Woo-seok,bronze,Q114753595,https://en.wikipedia.org/wiki/South_Korea_at_t...,South Korea at the 2024 Summer Olympics,Q884,South Korea,KR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Q107619893,https://en.wikipedia.org/wiki/Kim_Je-deok,Kim Je-deok,gold,Q114753595,https://en.wikipedia.org/wiki/South_Korea_at_t...,South Korea at the 2024 Summer Olympics,Q884,South Korea,KR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q11739253,https://en.wikipedia.org/wiki/Kim_Woo-jin_(arc...,Kim Woo-jin,gold,Q114753595,https://en.wikipedia.org/wiki/South_Korea_at_t...,South Korea at the 2024 Summer Olympics,Q884,South Korea,KR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2202 entries, 0 to 2201
Data columns (total 46 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   medalist_wikidata_id                   2202 non-null   object
 1   medalist_link                          2202 non-null   object
 2   medalist_name                          2202 non-null   object
 3   medal                                  2202 non-null   object
 4   delegation_wikidata_id                 2202 non-null   object
 5   delegation_link                        2202 non-null   object
 6   delegation_name                        2202 non-null   object
 7   country_medal_wikidata_id              2195 non-null   object
 8   country_medal                          2195 non-null   object
 9   country_medal_code2                    2185 non-null   object
 10  country_medal_code3                    2185 non-null   object
 11  country_medal_ioc_country_code         2195 non-null   object
 12  country_medal_NUTS_code                1000 non-null   object
 13  date_of_birth                          2185 non-null   object
 14  place_of_birth_wikidata_id             2108 non-null   object
 15  place_of_birth                         2107 non-null   object
 16  place_of_birth_located_in_wikidata_id  2069 non-null   object
 17  place_of_birth_located_in              2068 non-null   object
 18  place_of_birth_coordinates             2107 non-null   object
 19  lat                                    2107 non-null   float64
 20  lon                                    2107 non-null   float64
 21  sex_or_gender_wikidata_id              2202 non-null   object
 22  sex_or_gender                          2202 non-null   object
 23  event_wikidata_id                      2202 non-null   object
 24  event_link                             2202 non-null   object
 25  event_name                             2202 non-null   object
 26  event_part_of_wikidata_id              2182 non-null   object
 27  event_part_of                          2182 non-null   object
 28  event_sport_wikidata_id                1469 non-null   object
 29  event_sport                            1469 non-null   object
 30  event_part_of_sport_wikidata_id        2133 non-null   object
 31  event_part_of_sport                    2133 non-null   object
 32  sport_wikidata_id                      2182 non-null   object
 33  sport                                  2182 non-null   object
 34  nuts1_id                               958 non-null    object
 35  nuts1_name                             958 non-null    object
 36  nuts2_id                               958 non-null    object
 37  nuts2_name                             958 non-null    object
 38  nuts3_id                               958 non-null    object
 39  nuts3_name                             958 non-null    object
 40  nuts2_population                       938 non-null    float64
 41  nuts3_population                       926 non-null    float64
 42  nuts2_gdp                              790 non-null    float64
 43  nuts3_gdp                              764 non-null    float64
 44  nuts0_id                               958 non-null    object
 45  nuts0_name                             958 non-null    object
dtypes: float64(6), object(40)
memory usage: 791.5+ KB

In [4]:
data.describe()

,lat,lon,nuts2_population,nuts3_population,nuts2_gdp,nuts3_gdp
count,2107.000000,2107.000000,9.380000e+02,9.260000e+02,790.000000,764.000000
mean,32.875258,15.408155,3.344670e+06,1.036040e+06,162627.032835,48659.216387
std,25.912377,74.974945,2.922280e+06,1.224460e+06,185225.606264,57416.854790
min,-46.429000,-157.857194,8.549300e+04,5.398100e+04,1756.750000,635.340000
25%,31.287869,-6.266670,1.459701e+06,3.420415e+05,50711.405000,10489.000000
50%,41.561111,6.783333,2.320856e+06,6.428150e+05,107148.040000,24667.310000
75%,49.444444,44.514444,3.804906e+06,1.294767e+06,203606.360000,61278.950000
max,68.438280,179.966667,1.238839e+07,6.871903e+06,782639.160000,252252.480000

### Dealing with Nulls

In many of our datasets we will have missing values, one thing we need to figure out is where are these missing values, and what we should do with these missing values.
To tabulate our missing values the following simple code can be used:

In [5]:
data.isnull().sum()

medalist_wikidata_id                        0
medalist_link                               0
medalist_name                               0
medal                                       0
delegation_wikidata_id                      0
delegation_link                             0
delegation_name                             0
country_medal_wikidata_id                   7
country_medal                               7
country_medal_code2                        17
country_medal_code3                        17
country_medal_ioc_country_code              7
country_medal_NUTS_code                  1202
date_of_birth                              17
place_of_birth_wikidata_id                 94
place_of_birth                             95
place_of_birth_located_in_wikidata_id     133
place_of_birth_located_in                 134
place_of_birth_coordinates                 95
lat                                        95
lon                                        95
sex_or_gender_wikidata_id                   0
sex_or_gender                               0
event_wikidata_id                           0
event_link                                  0
event_name                                  0
event_part_of_wikidata_id                  20
event_part_of                              20
event_sport_wikidata_id                   733
event_sport                               733
event_part_of_sport_wikidata_id            69
event_part_of_sport                        69
sport_wikidata_id                          20
sport                                      20
nuts1_id                                 1244
nuts1_name                               1244
nuts2_id                                 1244
nuts2_name                               1244
nuts3_id                                 1244
nuts3_name                               1244
nuts2_population                         1264
nuts3_population                         1276
nuts2_gdp                                1412
nuts3_gdp                                1438
nuts0_id                                 1244
nuts0_name                               1244
dtype: int64


### Dropping Null Values
Now that we have the number of nulls there are various approaches we can take. The first of which is to just drop any row that has a null value. 


``` python 
no_nulls = data.dropna()
```
But imagine that we only care about certain rows not having null data we can limit our dropna statement using the `subset` parameter. 
Maybe we need date of birth and sport to be non null then we can do: 

``` python
no_nulls_select = data.dropna(subset=["date_of_birth", "sport"])
```  
Lets see the effect below:

In [7]:
no_nulls=data.dropna()
no_nulls.isnull().sum()

medalist_wikidata_id                     0
medalist_link                            0
medalist_name                            0
medal                                    0
delegation_wikidata_id                   0
delegation_link                          0
delegation_name                          0
country_medal_wikidata_id                0
country_medal                            0
country_medal_code2                      0
country_medal_code3                      0
country_medal_ioc_country_code           0
country_medal_NUTS_code                  0
date_of_birth                            0
place_of_birth_wikidata_id               0
place_of_birth                           0
place_of_birth_located_in_wikidata_id    0
place_of_birth_located_in                0
place_of_birth_coordinates               0
lat                                      0
lon                                      0
sex_or_gender_wikidata_id                0
sex_or_gender                            0
event_wikidata_id                        0
event_link                               0
event_name                               0
event_part_of_wikidata_id                0
event_part_of                            0
event_sport_wikidata_id                  0
event_sport                              0
event_part_of_sport_wikidata_id          0
event_part_of_sport                      0
sport_wikidata_id                        0
sport                                    0
nuts1_id                                 0
nuts1_name                               0
nuts2_id                                 0
nuts2_name                               0
nuts3_id                                 0
nuts3_name                               0
nuts2_population                         0
nuts3_population                         0
nuts2_gdp                                0
nuts3_gdp                                0
nuts0_id                                 0
nuts0_name                               0
dtype: int64

In [8]:

no_nulls_select = data.dropna(subset=["date_of_birth","sport"])
no_nulls_select.isnull().sum()
## as we can see we still have some null values but not in date of birth or sport

medalist_wikidata_id                        0
medalist_link                               0
medalist_name                               0
medal                                       0
delegation_wikidata_id                      0
delegation_link                             0
delegation_name                             0
country_medal_wikidata_id                   7
country_medal                               7
country_medal_code2                        17
country_medal_code3                        17
country_medal_ioc_country_code              7
country_medal_NUTS_code                  1176
date_of_birth                               0
place_of_birth_wikidata_id                 85
place_of_birth                             86
place_of_birth_located_in_wikidata_id     123
place_of_birth_located_in                 124
place_of_birth_coordinates                 86
lat                                        86
lon                                        86
sex_or_gender_wikidata_id                   0
sex_or_gender                               0
event_wikidata_id                           0
event_link                                  0
event_name                                  0
event_part_of_wikidata_id                   0
event_part_of                               0
event_sport_wikidata_id                   708
event_sport                               708
event_part_of_sport_wikidata_id            49
event_part_of_sport                        49
sport_wikidata_id                           0
sport                                       0
nuts1_id                                 1215
nuts1_name                               1215
nuts2_id                                 1215
nuts2_name                               1215
nuts3_id                                 1215
nuts3_name                               1215
nuts2_population                         1235
nuts3_population                         1246
nuts2_gdp                                1382
nuts3_gdp                                1408
nuts0_id                                 1215
nuts0_name                               1215
dtype: int64

### Filling in Data

Sometimes it makes sense to fill in the data there are two ways we could do this. For string variables we can just say if its null its unknown:  
``` python
data['categorical_column'].fillna('Unknown', inplace=True)
```

For numerical data we can fill in our unknown data with the column mean. However be careful when doing this there are many ways to fill in unknown data and they all have their pros and cons, in general it is safest to just drop any missing numerical values that you need. Feel free to reach out to a mentor for help deciding what is best.  
``` python
data['column_name'].fillna(data['column_name'].mean(), inplace=True)
```

### Correcting Data Types 
Sometimes the wrong datatype can be assumed, for example if in a CSV, null integer values were reported as "null" or "N/A". We may end up reading in our data as a string, when we really wanted a numerical value. This is a problem because if we do any computations they will not be caried out correctly. 4+5 =9, but "4" + "5" is "45". In pandas we can use `.astype('dtype')`. So to turn a string into an int, we could drop our null values and do:  
``` python
data['intNotString'] = data['intNotString'].astype('int')
```

One other transformation we will often make is to turn our dates into datetimes, this makes it so that when you graph, Python treats the date as a date and not a string. To do this we can use `pd.to_datetime(data['date_column'])`.
``` python
data[date_column] = pd.to_datetime(data['date_column'])
```

### Standardizing Text Data 
Dealing with strings can be difficult in messy data. There are a couple of methods that can help with dealing with text data. Perhaps we think one column will be categorical but the data is messy. "Group 1", "Group1", "group1", and "group 1" maybe all refer to the same group. Two useful methods for strings that can help are the following. 

``` python
data['string_column'] = data['string_column'].str.lower()
data['string_column'] = data['string_column'].str.strip()
```

These commands turn all the letters to lowercase, and removes all spaces. Removing spaces can also be important. "Group 1" and "Group 1 " look the same in excel but are two different values when it comes to programatically dealing with data.

### Monetary Adjustments 

#### Adjusting for Inflation

When working with time-series data, that is data over time. Adjusting for inflation is important. USD in 2009 is not valued the same as USD in 2024. 

#### Standardizing to one Currency

When dealing with data from multiple countries for example we may need to add an extra step. We should standardize the currencies to one currency. This is more complicated when dealing with multiple countries across multiple years. We will need to adjust for inflation for each individual country and then standardize to one currency

In [2]:
import pandas as pd

# Example dataset
data = pd.DataFrame({
    'country': ['USA', 'Canada', 'USA', 'Canada'],
    'year': [2009, 2009, 2024, 2024],
    'amount': [1000, 1200, 1500, 1400]
})

# Adjusting for inflation (example adjustment factors)
inflation_factors = pd.DataFrame({
    'country': ['USA', 'Canada'],
    'factor_2009': [1.0, 1.1],  # Example inflation factor for 2009
    'factor_2024': [1.5, 1.3]   # Example inflation factor for 2024
})

# Merging datasets and adjusting amounts
adjusted_data = data.merge(inflation_factors, on='country')
adjusted_data['adjusted_amount'] = adjusted_data.apply(
    lambda row: row['amount'] * row['factor_2024'] / row['factor_2009'] if row['year'] == 2009 else row['amount'],
    axis=1
)

adjusted_data = adjusted_data[['country', 'year', 'adjusted_amount']]
print(adjusted_data)

  country  year  adjusted_amount
0     USA  2009      1500.000000
1  Canada  2009      1418.181818
2     USA  2024      1500.000000
3  Canada  2024      1400.000000

### Adjusting for Population 

When dealing with larger scale collected data we often need to take population size into account. If we have covid infections, we want to scale that by the population within our geographic region of covid infections. To do this we can simply standardize over our population: 
$$ \frac{\text{covid infections}_i}{\text{total population}_i}$$
Where i is the location, so for each location our output would be the number of covid infection in that location divided by the number of people in the location

For this we could make a new column:
``` python
data["covidPerCapita"] = data["covid infections"] / data["total population"]
```

#### Standardization

If we have data that is not necessarily related to other columns but we want to understand scale properly we can use standardization

The simplest definition of standardization is: 
$$\phi(x) = \frac{x - \overline{x}}{\sigma}$$
Where $\overline{x}$ is the column mean, and $\sigma$ is the standard deviation of the column

In pandas we do the following:
``` python
data["standardized_col"] = (data["col"] - data["col"].mean()) / data["col"].std()
```

## III. Joining Datasets

There are multiple ways to merge or join datasets. To do this we will do what is called a join. There are 4 main types of joins to know **left**, **right**, **inner**, and **outer**. There are other variations of joins but these 4 are all that you need to understand to do most, if not all dataset joining.

#### What is the difference between left, right, inner and outer joins?

The main difference between these joins is how we connect the data, and how we deal with misaligned data, that is data that appears in one dataset but not the other.

#### In all joins we need a join key (what column we are joining on)

Our join key is what we use to match rows in each dataset to eachother. For example if I have a dataset with geocodes and wanted to combine two datasets at the same geographic level with the same geocode format I could use a join to make a new dataset containing all the columns from the two datasets I am combining. 

In pandas, we use the following syntax:
``` pd.merge(how="method (left,right,inner,outer)", on=[join_key])```

### Left and Right Joins 

Left and right joins are very simple to think about. If we think about our first dataset as the left dataset, and the second datasets as the right dataset, the left or right join simply indicates which dataset to keep intact. 

For a left join any record (or row) that exists in the left dataset will exist in the final dataset regardless of whether there is data in the right dataset corresponding to the joinkey of the record in the left dataset. In this case null values will be used to fill in the values of the right data columns 

The right join is the opposite all rows from the right dataset will be stored in the new joined dataset and any data in the right dataset that does not have matching data in the left dataset will be filled with null values. 

*Important Note:* If you use a left join and data in the right side does not exist on the left dataset then it will be dropped and vice versa. If keeping all the data is important Outer Joins are a better choice of join method.

*Important Note:* A futher implementation detail that is important to remember is that if you use a left join for example. If a record in the left dataset has multiple records in the right dataset then multiple rows will be created as the left will "join" to both matching records on the right side. This applies to right joins as well but vice-versa

```python
## left join 
pd.merge(left, right, how="left", on="joinkey")
## right join
pd.merge(left, right, how='right', on="joinkey")
```

### Inner and Outer Joins

#### Inner Joins

An inner join connects the two datasets for all records that have data within both datasets. So any data that is only in the right, or only in the left are dropped. 


#### Outer Joins

Outer joins do the opposite they combine two datasets in their entirety filling in any missing data with null values. So all records in both left and right dataset will continue to exist in the joined dataset, that is with null values for any mismatches.

```python
## inner join 
pd.merge(left, right, how="inner", on="joinkey")
## outer join
pd.merge(left, right, how='outer', on="joinkey")
```

### Concatenating Datasets 

Often times our data could be split into multiple files. For example they may pe partitioned by year. If they have the same columns you can connect them into one DataFrame. For example: 
``` python 
data2021 = pd.load_csv("data2021.csv")
data2022 = pd.load_csv("data2022.csv")
data2023 = pd.load_csv("data2023.csv")
all_data = pd.concat([data2021, data2022, data2023])
```

### Aggregation

Sometimes our data is too granular, or we need to aggregate by some metric. For example if we have daily data we may want to aggregate to the year or to the month. Pandas gives us the ability to group by a column, and then aggregate using one of two methods, either one aggregation method for all columns (e.g., mean, median, sum). Or you can build a dictionary of columns to aggregation function. An example of both are shown below for say aggregating down and grouping by month. 

``` python
data = data.groupby('Month').agg('mean').replace_index()
## Alternatively:
data = data.groupby('Month').agg({
    'col1': 'mean',
    'col2': 'sum',
    'col3': 'median'
    ...
})

```